$colores: (
    background-color: lightblue
);
$posicion-content:(
    fl-start: flex-start,
    fl-end: flex-end,
    spc-around: space-around,
    spc-between: space-between,
    spc-evenly: space-evenly,
    cent: center,
    just: justify,
);
